on: [push]
jobs:
  generate_tile_job:
    runs-on: ubuntu-latest
    name: A job to generate vector tiles
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: 'case 1'
        uses: ./
        with:
          file: ./__test__/data.geojson
